<span>
	<a class="paginate" id="first">First</a>
	<a class="paginate" id="newer">Newer</a>
	Viewing {{start}}-{{end}} of {{total}}
	<a class="paginate" id="older">Older</a>
	<a class="paginate" id="last">Last</a>
</span>